In [ ]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [4]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.values)

[['Alice' 25 50000]
 ['Bob' 30 60000]
 ['Charlie' 35 75000]]

In [5]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.dtypes)

Name      object
Age        int64
Salary     int64
dtype: object

In [6]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.columns)

Index(['Name', 'Age', 'Salary'], dtype='object')

In [7]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.ndim)

2

In [8]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.shape)

(3, 3)

In [9]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.T)

            0      1        2
Name    Alice    Bob  Charlie
Age        25     30       35
Salary  50000  60000    75000

In [10]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.size)

9

In [12]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.empty)
edf = pd.DataFrame()
print(edf.empty)

False
True

In [13]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.axes)

[RangeIndex(start=0, stop=3, step=1), Index(['Name', 'Age', 'Salary'], dtype='object')]