In [ ]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.head(1)) # default n= 5

    Name  Age  Salary
0  Alice   25   50000

In [3]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.tail(1))

      Name  Age  Salary
2  Charlie   35   75000

In [4]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [5]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.describe())

        Age        Salary
count   3.0      3.000000
mean   30.0  61666.666667
std     5.0  12583.057392
min    25.0  50000.000000
25%    27.5  55000.000000
50%    30.0  60000.000000
75%    32.5  67500.000000
max    35.0  75000.000000

In [ ]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.info())

In [12]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie','BOb'],
   	    'Age': [25, 30, 35,30],
	    'Salary': [50000, 60000, 75000,60000]
	}
df = pd.DataFrame(data)
print(df.set_index('Name').value_counts())
print(df)

Age  Salary
30   60000     2
25   50000     1
35   75000     1
Name: count, dtype: int64
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
3      BOb   30   60000

In [17]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie','BOb'],
   	    'Age': [25, 30, 35,30],
	    'Salary': [50000, 60000, 75000,60000]
	}
df = pd.DataFrame(data)
df.to_csv('output.csv',index=False)

In [18]:
df = pd.read_csv('output.csv')
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
3      BOb   30   60000

In [22]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie','BOb'],
   	    'Age': [25, 30, 35,30],
	    'Salary': [50000, 60000, 75000,60000]
	}
df = pd.DataFrame(data)
df.to_excel('output.xlsx',index=False)

In [23]:
df = pd.read_excel('output.xlsx')
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
3      BOb   30   60000

In [26]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.loc[df['Age']>=30,['Salary','Name']])

   Salary     Name
1   60000      Bob
2   75000  Charlie

In [30]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.iloc[0:2,0:1])

    Name
0  Alice
1    Bob

In [34]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df.at[0,'Age'])

25

In [36]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
   	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df)
print(df.iat[0,2])  # iat[row_index,column_index]

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
50000