In [3]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df)
df['Expanding_Mean_Salary'] = df['Salary'].expanding().mean()
print(df)
df['Exp_Mean_Salary'] = df['Salary'].expanding(2).mean()
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
      Name  Age  Salary  Expanding_Mean_Salary
0    Alice   25   50000           50000.000000
1      Bob   30   60000           55000.000000
2  Charlie   35   75000           61666.666667
      Name  Age  Salary  Expanding_Mean_Salary  Exp_Mean_Salary
0    Alice   25   50000           50000.000000              NaN
1      Bob   30   60000           55000.000000     55000.000000
2  Charlie   35   75000           61666.666667     61666.666667

In [4]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 75000]
}
df = pd.DataFrame(data)
print(df)
# Calculate exponentially weighted moving average of Salary
# The 'span' parameter controls the decay; a smaller span gives more weight to recent observations
df['EWM_Salary'] = df['Salary'].ewm(span=2).mean()
print("\nDataFrame with Exponentially Weighted Moving Average Salary:")
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000

DataFrame with Exponentially Weighted Moving Average Salary:
      Name  Age  Salary    EWM_Salary
0    Alice   25   50000  50000.000000
1      Bob   30   60000  57500.000000
2  Charlie   35   75000  69615.384615

In [7]:
import pandas as pd
df1 = pd.DataFrame({
    'EmployeeID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'Finance', 'IT', 'Marketing']
})
print(df1)
df2 = pd.DataFrame({
    'EmployeeID': [102, 103, 104, 105],
    'Salary': [60000, 75000, 58000, 52000],
    'JoiningYear': [2015, 2016, 2017, 2018]
})
print(df2)
# Merge DataFrames on 'EmployeeID' with inner join (default)
result_inner = pd.merge(df1, df2, on='EmployeeID')
print("Inner Join (Only matching EmployeeID):")
print(result_inner)

   EmployeeID     Name Department
0         101    Alice         HR
1         102      Bob    Finance
2         103  Charlie         IT
3         104    David  Marketing
   EmployeeID  Salary  JoiningYear
0         102   60000         2015
1         103   75000         2016
2         104   58000         2017
3         105   52000         2018
Inner Join (Only matching EmployeeID):
   EmployeeID     Name Department  Salary  JoiningYear
0         102      Bob    Finance   60000         2015
1         103  Charlie         IT   75000         2016
2         104    David  Marketing   58000         2017

In [11]:
import pandas as pd
df1 = pd.DataFrame({
    'EmployeeID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'Finance', 'IT', 'Marketing']
})
print(df1)
df2 = pd.DataFrame({
    'EmployeeID': [102, 103, 104, 105],
    'Salary': [60000, 75000, 58000, 52000],
    'JoiningYear': [2015, 2016, 2017, 2018]
})
print(df2)
# Merge DataFrames on 'EmployeeID' with inner join (default)
result_inner = pd.merge(df1, df2, on='EmployeeID')
print("Inner Join (Only matching EmployeeID):")
print(result_inner)
# Merge DataFrames on 'EmployeeID' with left join 
result_left = pd.merge(df1, df2, on='EmployeeID',how='left')
print("left Join (Only matching EmployeeID):")
print(result_left)
# Merge DataFrames on 'EmployeeID' with right join 
result_right = pd.merge(df1, df2, on='EmployeeID',how='right')
print("right Join (Only matching EmployeeID):")
print(result_right)

   EmployeeID     Name Department
0         101    Alice         HR
1         102      Bob    Finance
2         103  Charlie         IT
3         104    David  Marketing
   EmployeeID  Salary  JoiningYear
0         102   60000         2015
1         103   75000         2016
2         104   58000         2017
3         105   52000         2018
Inner Join (Only matching EmployeeID):
   EmployeeID     Name Department  Salary  JoiningYear
0         102      Bob    Finance   60000         2015
1         103  Charlie         IT   75000         2016
2         104    David  Marketing   58000         2017
left Join (Only matching EmployeeID):
   EmployeeID     Name Department   Salary  JoiningYear
0         101    Alice         HR      NaN          NaN
1         102      Bob    Finance  60000.0       2015.0
2         103  Charlie         IT  75000.0       2016.0
3         104    David  Marketing  58000.0       2017.0
right Join (Only matching EmployeeID):
   EmployeeID     Name Department  Salary  JoiningYear
0         102      Bob    Finance   60000         2015
1         103  Charlie         IT   75000         2016
2         104    David  Marketing   58000         2017
3         105      NaN        NaN   52000         2018

In [12]:
# Merge DataFrames on 'EmployeeID' with outer join
result_outer = pd.merge(df1, df2, on='EmployeeID', how='outer')
print("\nOuter Join (All from both dfs):")
print(result_outer)

Outer Join (All from both dfs):
   EmployeeID     Name Department   Salary  JoiningYear
0         101    Alice         HR      NaN          NaN
1         102      Bob    Finance  60000.0       2015.0
2         103  Charlie         IT  75000.0       2016.0
3         104    David  Marketing  58000.0       2017.0
4         105      NaN        NaN  52000.0       2018.0

In [18]:
import pandas as pd
df1 = pd.DataFrame({
    	'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    	'Department': ['HR', 'Finance', 'IT', 'Marketing']
	}, index=[101, 102, 103, 104])
print('\n',df1)
df2 = pd.DataFrame({
    	'Salary': [60000, 75000, 58000, 52000],
    	'JoiningYear': [2015, 2016, 2017, 2018]
	}, index=[102, 103, 104, 105])
print('\n',df2)

# Join df2 to df1 on their indices with inner join
result_inner = df1.join(df2, how='inner')
print("\nInner Join (Only matching indices):")
print(result_inner)

         Name Department
101    Alice         HR
102      Bob    Finance
103  Charlie         IT
104    David  Marketing

      Salary  JoiningYear
102   60000         2015
103   75000         2016
104   58000         2017
105   52000         2018

Inner Join (Only matching indices):
        Name Department  Salary  JoiningYear
102      Bob    Finance   60000         2015
103  Charlie         IT   75000         2016
104    David  Marketing   58000         2017

In [19]:
# Join df2 to df1 on their indices with left join
result_left = df1.join(df2, how='left')
print("\nLeft Join (All indices from df1 with matching from df2):")
print(result_left)
result_left = df2.join(df1, how='left')
print("\nLeft Join (All indices from df2 with matching from df1):")
print(result_left)
# Join df2 to df1 on their indices with right join
result_right = df1.join(df2, how='right')
print("\nright Join (All indices from df2 with matching from df1):")
print(result_right)
# Join df2 to df1 on their indices with outer join
result_outer = df1.join(df2, how='outer')
print("\nOuter Join (All indices from both dfs):")
print(result_outer)

Left Join (All indices from df1 with matching from df2):
        Name Department   Salary  JoiningYear
101    Alice         HR      NaN          NaN
102      Bob    Finance  60000.0       2015.0
103  Charlie         IT  75000.0       2016.0
104    David  Marketing  58000.0       2017.0

Left Join (All indices from df2 with matching from df1):
     Salary  JoiningYear     Name Department
102   60000         2015      Bob    Finance
103   75000         2016  Charlie         IT
104   58000         2017    David  Marketing
105   52000         2018      NaN        NaN

right Join (All indices from df2 with matching from df1):
        Name Department  Salary  JoiningYear
102      Bob    Finance   60000         2015
103  Charlie         IT   75000         2016
104    David  Marketing   58000         2017
105      NaN        NaN   52000         2018

Outer Join (All indices from both dfs):
        Name Department   Salary  JoiningYear
101    Alice         HR      NaN          NaN
102      Bob    Finance  60000.0       2015.0
103  Charlie         IT  75000.0       2016.0
104    David  Marketing  58000.0       2017.0
105      NaN        NaN  52000.0       2018.0