In [11]:
import pandas as pd
import numpy as np
data = {
    	'Name': ['Alice', 'Bob', 'Charlie','Alice'],
 	 'Age': [25,np.nan, 35,30],
	 'Salary': [50000, 60000, 75000,np.nan]
	}
df = pd.DataFrame(data)
print(df)
print('\n',df.mean(numeric_only=True, skipna=True, axis=0))

print('\n',df.mean(numeric_only=True, skipna=True, axis=1))

print('\n',df.mean(numeric_only=True, skipna=True))

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob   NaN  60000.0
2  Charlie  35.0  75000.0
3    Alice  30.0      NaN

 Age          30.000000
Salary    61666.666667
dtype: float64

 0    25012.5
1    60000.0
2    37517.5
3       30.0
dtype: float64

 Age          30.000000
Salary    61666.666667
dtype: float64

In [12]:
print(df.median(numeric_only=True))

Age          30.0
Salary    60000.0
dtype: float64

In [13]:
df.describe()

        Age        Salary
count   3.0      3.000000
mean   30.0  61666.666667
std     5.0  12583.057392
min    25.0  50000.000000
25%    27.5  55000.000000
50%    30.0  60000.000000
75%    32.5  67500.000000
max    35.0  75000.000000

In [14]:
print(df.mode(axis=0,numeric_only=True,dropna=True))

    Age   Salary
0  25.0  50000.0
1  30.0  60000.0
2  35.0  75000.0

In [15]:
print(df.sum(axis=0,numeric_only=True,skipna= True))

Age           90.0
Salary    185000.0
dtype: float64

In [22]:
print(df.prod(axis=0,skipna= True,numeric_only=True,min_count=3))

Age       2.625000e+04
Salary    2.250000e+14
dtype: float64

In [23]:
print(df.min(axis=0,numeric_only=True))

Age          25.0
Salary    50000.0
dtype: float64

In [25]:
print(df.max(numeric_only=True))

Age          35.0
Salary    75000.0
dtype: float64

In [26]:
print(df.std(axis=0,numeric_only=True))

Age           5.000000
Salary    12583.057392
dtype: float64

In [ ]:
print(df.var(axis=0,numeric_only=True,skipna=True))

Age       2.500000e+01
Salary    1.583333e+08
dtype: float64

In [30]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]}
df = pd.DataFrame(data)
var_age = df['Age'].var()
print(df);print("Variance of Age:", var_age)
var_salary = df['Salary'].var()
print("Variance of Salary:", var_salary)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
Variance of Age: 25.0
Variance of Salary: 158333333.3333333

In [35]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	    'Age': [25, 30, 35],
	    'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df)
cov_age_salary = df['Age'].cov(df['Salary'],min_periods=3)
print("Covariance between Age and Salary:", cov_age_salary)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
Covariance between Age and Salary: 62500.0

In [36]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
print(df)
corr_age_salary = df['Age'].corr(df['Salary'])
print("Correlation between Age and Salary:", corr_age_salary)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
Correlation between Age and Salary: 0.993399267798783

In [43]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]  }
df = pd.DataFrame(data)
print(df)
median_values = df.quantile(q=0.5, axis=0, numeric_only=True)
print("quantile\n",median_values)
print(df.median(axis=0,numeric_only=True))

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
quantile
 Age          30.0
Salary    60000.0
Name: 0.5, dtype: float64
Age          30.0
Salary    60000.0
dtype: float64

In [54]:
import pandas as pd
data = {
    	'Name': ['Blice', 'Aob', 'Charlie'],
 	 'Age': [25, 35, 30],
	 'Salary': [50000, 600000, 75000]}
df = pd.DataFrame(data)
print(df)
print(df.cummax(axis=0,skipna=True))

      Name  Age  Salary
0    Blice   25   50000
1      Aob   35  600000
2  Charlie   30   75000
      Name  Age  Salary
0    Blice   25   50000
1    Blice   35  600000
2  Charlie   35  600000

In [55]:
print(df.cummin(axis=0,skipna=True))

    Name  Age  Salary
0  Blice   25   50000
1    Aob   25   50000
2    Aob   25   50000

In [2]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]
	}
df = pd.DataFrame(data)
c_sum_age = df['Age'].cumsum()
print("Cumulative sum of Age:\n", c_sum_age)
c_sum_salary = df['Salary'].cumsum()
print("Cumulative sum of Salary:\n", c_sum_salary)
print(df.cumsum(axis=0))

Cumulative sum of Age:
 0    25
1    55
2    90
Name: Age, dtype: int64
Cumulative sum of Salary:
 0     50000
1    110000
2    185000
Name: Salary, dtype: int64
              Name  Age  Salary
0            Alice   25   50000
1         AliceBob   55  110000
2  AliceBobCharlie   90  185000

In [6]:
print(df.prod(axis=0,numeric_only=True,skipna=True))
print(df['Salary'].cumprod())

Age                 26250
Salary    225000000000000
dtype: int64
0              50000
1         3000000000
2    225000000000000
Name: Salary, dtype: int64

In [11]:
print(df)
difference_age = df['Age'].diff(2)
print("Difference of Age:\n", difference_age)
difference_salary = df['Salary'].diff()
print("Difference of Salary:\n", difference_salary)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
Difference of Age:
 0     NaN
1     NaN
2    10.0
Name: Age, dtype: float64
Difference of Salary:
 0        NaN
1    10000.0
2    15000.0
Name: Salary, dtype: float64

In [12]:
print(df)
difference_age = df['Age'].pct_change()
print("Difference of Age:\n", difference_age)
difference_salary = df['Salary'].pct_change()
print("Difference of Salary:\n", difference_salary)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
Difference of Age:
 0         NaN
1    0.200000
2    0.166667
Name: Age, dtype: float64
Difference of Salary:
 0     NaN
1    0.20
2    0.25
Name: Salary, dtype: float64

In [ ]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]}
df = pd.DataFrame(data)
age_comparison = df['Age'].eq(30)
salary_comparison = df['Salary'].eq(60000)
print("Age Comparison (Age == 30):\n",age_comparison)
print("\nSalary Comparison (Salary == 60000):\n",salary_comparison)

Age Comparison (Age == 30): 0    False
1     True
2    False
Name: Age, dtype: bool

Salary Comparison (Salary == 60000): 0    False
1     True
2    False
Name: Salary, dtype: bool

In [14]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]
    }
df = pd.DataFrame(data)
age_comparison = df['Age'].ne(30)
salary_comparison = df['Salary'].ne(60000)
print("Age Comparison (Age == 30):\n",age_comparison)
print("\nSalary Comparison (Salary == 60000):\n",salary_comparison)

Age Comparison (Age == 30):
 0     True
1    False
2     True
Name: Age, dtype: bool

Salary Comparison (Salary == 60000):
 0     True
1    False
2     True
Name: Salary, dtype: bool

In [ ]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]}
df = pd.DataFrame(data)
age_comparison = df['Age'].gt(30)
salary_comparison = df['Salary'].gt(60000)
print("Age Comparison (Age == 30):\n",age_comparison)
print("\nSalary Comparison (Salary == 60000):\n",salary_comparison)

Age Comparison (Age == 30): 0    False
1    False
2     True
Name: Age, dtype: bool

Salary Comparison (Salary == 60000): 0    False
1    False
2     True
Name: Salary, dtype: bool

In [16]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]}
df = pd.DataFrame(data)
age_comparison = df['Age'].ge(30)
salary_comparison = df['Salary'].ge(60000)
print("Age Comparison (Age == 30):\n",age_comparison)
print("\nSalary Comparison (Salary == 60000):\n",salary_comparison)

Age Comparison (Age == 30):
 0    False
1     True
2     True
Name: Age, dtype: bool

Salary Comparison (Salary == 60000):
 0    False
1     True
2     True
Name: Salary, dtype: bool

In [17]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]}
df = pd.DataFrame(data)
age_comparison = df['Age'].lt(30)
salary_comparison = df['Salary'].lt(60000)
print("Age Comparison (Age == 30):\n",age_comparison)
print("\nSalary Comparison (Salary == 60000):\n",salary_comparison)

Age Comparison (Age == 30):
 0     True
1    False
2    False
Name: Age, dtype: bool

Salary Comparison (Salary == 60000):
 0     True
1    False
2    False
Name: Salary, dtype: bool

In [18]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]}
df = pd.DataFrame(data)
age_comparison = df['Age'].le(30)
salary_comparison = df['Salary'].le(60000)
print("Age Comparison (Age == 30):\n",age_comparison)
print("\nSalary Comparison (Salary == 60000):\n",salary_comparison)

Age Comparison (Age == 30):
 0     True
1     True
2    False
Name: Age, dtype: bool

Salary Comparison (Salary == 60000):
 0     True
1     True
2    False
Name: Salary, dtype: bool

In [19]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]}
df = pd.DataFrame(data)
print(df)
age_comp_multiple = df['Age'].lt(30) | df['Age'].lt(35)
salary_comp_multiple = df['Salary'].lt(50000) | df['Salary'].lt(60000)
print("Age Comparison (Age < 30 or < 35):",age_comp_multiple)
print("Salary Comparison (Salary < 50000 or < 60000):",salary_comp_multiple)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
Age Comparison (Age < 30 or < 35): 0     True
1     True
2    False
Name: Age, dtype: bool
Salary Comparison (Salary < 50000 or < 60000): 0     True
1    False
2    False
Name: Salary, dtype: bool

# Null Handling

In [ ]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Alice', 'Bob', np.nan, 'Charlie'],
    'Age': [25, 30, np.nan, 35],
    'Salary': [50000, np.nan, np.nan, 75000]
}
df = pd.DataFrame(data)
print(df)
print("Name column isna():\n", df['Name'].isna())

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0      NaN
2      NaN   NaN      NaN
3  Charlie  35.0  75000.0
Name column isna():
 0    False
1    False
2     True
3    False
Name: Name, dtype: bool

In [25]:
# print("Age column isna():\n", df['Age'].isna())
# print("Salary column isna():\n", df['Salary'].isna())
# print(df.isna())
print("\nCount of missing values per column:")
print(df.isna().sum(axis=1))

Count of missing values per column:
0    0
1    1
2    3
3    0
dtype: int64

In [26]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Alice', 'Bob', np.nan, 'Charlie'],
    'Age': [25, 30, np.nan, 35],
    'Salary': [50000, np.nan, np.nan, 75000]
}
df = pd.DataFrame(data)
print(df)
print("Name column notna():\n", df['Name'].notna())
print("Age column notna():\n", df['Age'].notna())
print("Salary column notna():\n", df['Salary'].notna())

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0      NaN
2      NaN   NaN      NaN
3  Charlie  35.0  75000.0
Name column notna():
 0     True
1     True
2    False
3     True
Name: Name, dtype: bool
Age column notna():
 0     True
1     True
2    False
3     True
Name: Age, dtype: bool
Salary column notna():
 0     True
1    False
2    False
3     True
Name: Salary, dtype: bool