In [1]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]}
df = pd.DataFrame(data)
print(df)
df['Name_Lower'] = df['Name'].str.lower()
print("DataFrame with lowercase names:")
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
DataFrame with lowercase names:
      Name  Age  Salary Name_Lower
0    Alice   25   50000      alice
1      Bob   30   60000        bob
2  Charlie   35   75000    charlie

In [2]:
# Case-insensitive filtering to find names containing 'bob'
search_term = 'bOb'
matches = df[df['Name'].str.lower().str.contains(search_term.lower())]
print("\nCase-insensitive search for 'bob':")
print(matches)

Case-insensitive search for 'bob':
  Name  Age  Salary Name_Lower
1  Bob   30   60000        bob

In [6]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
 	 'Age': [25, 30, 35],
	 'Salary': [50000, 60000, 75000]}
df = pd.DataFrame(data)
print(df)
df['Name'] = df['Name'].str.upper()
print("DataFrame with uppercase names:")
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
DataFrame with uppercase names:
      Name  Age  Salary
0    ALICE   25   50000
1      BOB   30   60000
2  CHARLIE   35   75000

In [7]:
# Case-insensitive filtering using uppercase
search_term = 'bOb'
matches = df[df['Name'].str.contains(search_term.upper())]
print("\nCase-insensitive search for 'BOB':")
print(matches)

Case-insensitive search for 'BOB':
  Name  Age  Salary
1  BOB   30   60000

In [13]:
import pandas as pd
data = {
   'Name': ['  Alice  ', ' Bob ', 'Charlie  ', '  Diana'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 75000, 65000] }
df = pd.DataFrame(data)
df['length'] = df['Name'].str.len()
print(df)
df['Name_clean'] = df['Name'].str.strip(to_strip=', ')
df['length_clean'] = df['Name_clean'].str.len()
print(df)

        Name  Age  Salary  length
0    Alice     25   50000       9
1       Bob    30   60000       5
2  Charlie     35   75000       9
3      Diana   28   65000       7
        Name  Age  Salary  length Name_clean  length_clean
0    Alice     25   50000       9      Alice             5
1       Bob    30   60000       5        Bob             3
2  Charlie     35   75000       9    Charlie             7
3      Diana   28   65000       7      Diana             5

In [14]:
import pandas as pd
data = {
	 'Name': ['Alice-Smith', 'Bob_Jones', 'Charlie Brown', 'Diana.Miller'],
	'Age': [25, 30, 35, 28],
	'Phone': ['(555)123-4567', '555.789.1234', '555 987 6543', '555-456-7890'],
	 'Email': ['alice@old.com', 'bob@old.com', 'charlie@old.com', 'diana@old.com']
	}
df = pd.DataFrame(data)
print(df)

            Name  Age          Phone            Email
0    Alice-Smith   25  (555)123-4567    alice@old.com
1      Bob_Jones   30   555.789.1234      bob@old.com
2  Charlie Brown   35   555 987 6543  charlie@old.com
3   Diana.Miller   28   555-456-7890    diana@old.com

In [ ]:
df['Name_Clean'] = df['Name'].str.replace(r'[- .]', '_', regex=True)
print("\nReplace special characters with spaces:")
print(df[['Name', 'Name_Clean']])

Replace special characters with spaces:
            Name     Name_Clean
0    Alice-Smith    Alice_Smith
1      Bob_Jones      Bob_Jones
2  Charlie Brown  Charlie_Brown
3   Diana.Miller   Diana_Miller

In [19]:
# Phone number standardization
df['Phone_Clean'] = df['Phone'].str.replace(r'[()\- .]', '', regex=True)
print("\nStandardized phone numbers:")
print(df[['Phone', 'Phone_Clean']])

Standardized phone numbers:
           Phone Phone_Clean
0  (555)123-4567  5551234567
1   555.789.1234  5557891234
2   555 987 6543  5559876543
3   555-456-7890  5554567890

In [20]:
# Domain replacement in emails
df['Email_New'] = df['Email'].str.replace('@old.com', '@new.org')
print("\nUpdated email domains:")
print(df[['Email', 'Email_New']])

Updated email domains:
             Email        Email_New
0    alice@old.com    alice@new.org
1      bob@old.com      bob@new.org
2  charlie@old.com  charlie@new.org
3    diana@old.com    diana@new.org

In [ ]:
# Case-insensitive replacement
df['Name_NoBob'] = df['Name'].str.replace('bob', 'Robert', case=False)
print("\nCase-insensitive name replacement:\n")
print(df[['Name', 'Name_NoBob']])

Case-insensitive name replacement:

            Name     Name_NoBob
0    Alice-Smith    Alice-Smith
1      Bob_Jones   Robert_Jones
2  Charlie Brown  Charlie Brown
3   Diana.Miller   Diana.Miller

In [23]:
# Multi-pattern replacement
df['Name_Final'] = (df['Name'].str.replace(r'[-_.]', ' ', regex=True)  # Replace separators
        .str.replace(r'\s+', ' ', regex=True)    # Collapse spaces
        .str.title())                            # Title case
print("\nMulti-step name cleaning:")
print(df[['Name', 'Name_Final']])

Multi-step name cleaning:
            Name     Name_Final
0    Alice-Smith    Alice Smith
1      Bob_Jones      Bob Jones
2  Charlie Brown  Charlie Brown
3   Diana.Miller   Diana Miller

In [24]:
# Replacement with captured groups
df['Last_First'] = df['Name'].str.replace(r'(\w+)[-_ ](\w+)', r'\2, \1', regex=True)
print("\nLast, First format:")
print(df[['Name', 'Last_First']])

Last, First format:
            Name      Last_First
0    Alice-Smith    Smith, Alice
1      Bob_Jones      Jones, Bob
2  Charlie Brown  Brown, Charlie
3   Diana.Miller    Diana.Miller

In [25]:
import pandas as pd
data = {
    	'Name': ['Alice Johnson', 'Bob Smith', 'Charlie Brown', 'Diana Williams', 'Eva Smithson'],
	'Department': ['Marketing', 'HR', 'IT Support', 'Finance', 'HR Management'],
	 'Email': ['alice.j@company.com', 'bob.smith@company.com', 
	  'charlie@company.com', 'diana.w@company.org', 'eva@company.net']
	}
df = pd.DataFrame(data)
print(df)

             Name     Department                  Email
0   Alice Johnson      Marketing    alice.j@company.com
1       Bob Smith             HR  bob.smith@company.com
2   Charlie Brown     IT Support    charlie@company.com
3  Diana Williams        Finance    diana.w@company.org
4    Eva Smithson  HR Management        eva@company.net

In [30]:
# Basic contains check
hr_employees = df[df['Department'].str.contains('HR')]
print("\n Employees in HR departments:")
print(hr_employees)

 Employees in HR departments:
           Name     Department                  Email
1     Bob Smith             HR  bob.smith@company.com
4  Eva Smithson  HR Management        eva@company.net

In [31]:
# Case-insensitive search
smith_employees = df[df['Name'].str.contains('smith', case=False)]
print("\n Employees with 'smith' in name (case-insensitive):")
print(smith_employees)

 Employees with 'smith' in name (case-insensitive):
           Name     Department                  Email
1     Bob Smith             HR  bob.smith@company.com
4  Eva Smithson  HR Management        eva@company.net

In [ ]:
# Regex pattern matching
email_pattern = r'\.com$'  # Ends with .org
org_emails = df[df['Email'].str.contains(email_pattern, regex=True)]
print("\n Employees with .org email addresses:")
print(org_emails)

 Employees with .org email addresses:
            Name  Department                  Email
0  Alice Johnson   Marketing    alice.j@company.com
1      Bob Smith          HR  bob.smith@company.com
2  Charlie Brown  IT Support    charlie@company.com

In [34]:
# Multiple patterns
management_pattern = r'Management|Support'
special_depts = df[df['Department'].str.contains(management_pattern)]
print("\n Employees in management or support roles:")
print(special_depts)

 Employees in management or support roles:
            Name     Department                Email
2  Charlie Brown     IT Support  charlie@company.com
4   Eva Smithson  HR Management      eva@company.net

In [35]:
# Creating new boolean columns
df['Has_Middle_Initial'] = df['Name'].str.contains(r'\w+ \w+ \w+')
df['Uses_Company_Domain'] = df['Email'].str.contains(r'@company\.')
print("\n DataFrame with new boolean columns:")
print(df)

 DataFrame with new boolean columns:
             Name     Department                  Email  Has_Middle_Initial  \
0   Alice Johnson      Marketing    alice.j@company.com               False
1       Bob Smith             HR  bob.smith@company.com               False
2   Charlie Brown     IT Support    charlie@company.com               False
3  Diana Williams        Finance    diana.w@company.org               False
4    Eva Smithson  HR Management        eva@company.net               False

   Uses_Company_Domain
0                 True
1                 True
2                 True
3                 True
4                 True