In [48]:
import pandas as pd
import numpy as np
date_range = pd.date_range(start='2025-01-01',end='2025-01-10',freq='D')
d= {
    'Sales': np.random.randint(100,900,len(date_range)),
    'Expenses' : np.random.randint(90,200,len(date_range))
}
df = pd.DataFrame(d,date_range)
print(df)

            Sales  Expenses
2025-01-01    112       126
2025-01-02    479        97
2025-01-03    589       112
2025-01-04    491       110
2025-01-05    372       149
2025-01-06    720       172
2025-01-07    451       136
2025-01-08    651       136
2025-01-09    437        91
2025-01-10    454       123

In [49]:
#  Shift Sales and Expenses by 1 day
df['Sales_Shifted'] = df['Sales'].shift(-1)
df['Expenses_Shifted'] = df['Expenses'].shift(1)
print("\n DataFrame with Sales and Expenses shifted by 1 day:")
print(df)

 DataFrame with Sales and Expenses shifted by 1 day:
            Sales  Expenses  Sales_Shifted  Expenses_Shifted
2025-01-01    112       126          479.0               NaN
2025-01-02    479        97          589.0             126.0
2025-01-03    589       112          491.0              97.0
2025-01-04    491       110          372.0             112.0
2025-01-05    372       149          720.0             110.0
2025-01-06    720       172          451.0             149.0
2025-01-07    451       136          651.0             172.0
2025-01-08    651       136          437.0             136.0
2025-01-09    437        91          454.0             136.0
2025-01-10    454       123            NaN              91.0

In [50]:
# Calculate daily change in Sales and Expenses
df['Sales_Change'] = df['Sales'] - df['Sales_Shifted']
df['Expenses_Change'] = df['Expenses'] - df['Expenses_Shifted']
print("\n Daily change in Sales and Expenses:")
print(df[['Sales', 'Sales_Shifted', 'Sales_Change', 'Expenses', 'Expenses_Shifted', 'Expenses_Change']])

 Daily change in Sales and Expenses:
            Sales  Sales_Shifted  Sales_Change  Expenses  Expenses_Shifted  \
2025-01-01    112          479.0        -367.0       126               NaN
2025-01-02    479          589.0        -110.0        97             126.0
2025-01-03    589          491.0          98.0       112              97.0
2025-01-04    491          372.0         119.0       110             112.0
2025-01-05    372          720.0        -348.0       149             110.0
2025-01-06    720          451.0         269.0       172             149.0
2025-01-07    451          651.0        -200.0       136             172.0
2025-01-08    651          437.0         214.0       136             136.0
2025-01-09    437          454.0         -17.0        91             136.0
2025-01-10    454            NaN           NaN       123              91.0

            Expenses_Change
2025-01-01              NaN
2025-01-02            -29.0
2025-01-03             15.0
2025-01-04             -2.0
2025-01-05             39.0
2025-01-06             23.0
2025-01-07            -36.0
2025-01-08              0.0
2025-01-09            -45.0
2025-01-10             32.0

In [51]:
# Shift by multiple periods (e.g., 2 days)
df['Sales_Shifted_2'] = df['Sales'].shift(-2)
df['Expenses_Shifted_2'] = df['Expenses'].shift(2)
print("\n DataFrame with Sales and Expenses shifted by 2 days:")
print(df)

 DataFrame with Sales and Expenses shifted by 2 days:
            Sales  Expenses  Sales_Shifted  Expenses_Shifted  Sales_Change  \
2025-01-01    112       126          479.0               NaN        -367.0
2025-01-02    479        97          589.0             126.0        -110.0
2025-01-03    589       112          491.0              97.0          98.0
2025-01-04    491       110          372.0             112.0         119.0
2025-01-05    372       149          720.0             110.0        -348.0
2025-01-06    720       172          451.0             149.0         269.0
2025-01-07    451       136          651.0             172.0        -200.0
2025-01-08    651       136          437.0             136.0         214.0
2025-01-09    437        91          454.0             136.0         -17.0
2025-01-10    454       123            NaN              91.0           NaN

            Expenses_Change  Sales_Shifted_2  Expenses_Shifted_2
2025-01-01              NaN            589.0                 NaN
2025-01-02            -29.0            491.0                 NaN
2025-01-03             15.0            372.0               126.0
2025-01-04             -2.0            720.0                97.0
2025-01-05             39.0            451.0               112.0
2025-01-06             23.0            651.0               110.0
2025-01-07            -36.0            437.0               149.0
2025-01-08              0.0            454.0               172.0
2025-01-09            -45.0              NaN               136.0
2025-01-10             32.0              NaN               136.0

In [52]:
import pandas as pd
import numpy as np
date_range = pd.date_range(start='2025-01-01',end='2025-03-10',freq='D')
d= {
    'Sales': np.random.randint(100,900,len(date_range)),
    'Expenses' : np.random.randint(90,200,len(date_range))
}
df = pd.DataFrame(d,date_range)
print(df)

            Sales  Expenses
2025-01-01    442       169
2025-01-02    812       177
2025-01-03    519       146
2025-01-04    515       159
2025-01-05    545       121
...           ...       ...
2025-03-06    683       138
2025-03-07    394       127
2025-03-08    737       183
2025-03-09    405       135
2025-03-10    329        96

[69 rows x 2 columns]

In [53]:
# Convert the index to a monthly period
df['Month'] = df.index.to_period('M')
print("\nDataFrame with Month period:")
print(df)

DataFrame with Month period:
            Sales  Expenses    Month
2025-01-01    442       169  2025-01
2025-01-02    812       177  2025-01
2025-01-03    519       146  2025-01
2025-01-04    515       159  2025-01
2025-01-05    545       121  2025-01
...           ...       ...      ...
2025-03-06    683       138  2025-03
2025-03-07    394       127  2025-03
2025-03-08    737       183  2025-03
2025-03-09    405       135  2025-03
2025-03-10    329        96  2025-03

[69 rows x 3 columns]

In [54]:
# Convert the Month period back to timestamps
df['Month_Timestamp'] = df['Month'].dt.to_timestamp()
print("\nDataFrame with Month converted back to timestamps:")
print(df)

DataFrame with Month converted back to timestamps:
            Sales  Expenses    Month Month_Timestamp
2025-01-01    442       169  2025-01      2025-01-01
2025-01-02    812       177  2025-01      2025-01-01
2025-01-03    519       146  2025-01      2025-01-01
2025-01-04    515       159  2025-01      2025-01-01
2025-01-05    545       121  2025-01      2025-01-01
...           ...       ...      ...             ...
2025-03-06    683       138  2025-03      2025-03-01
2025-03-07    394       127  2025-03      2025-03-01
2025-03-08    737       183  2025-03      2025-03-01
2025-03-09    405       135  2025-03      2025-03-01
2025-03-10    329        96  2025-03      2025-03-01

[69 rows x 4 columns]

In [55]:
# Convert the index to a monthly period
df['Quarter'] = df.index.to_period('Q')
print("\nDataFrame with Month period:")
print(df)

DataFrame with Month period:
            Sales  Expenses    Month Month_Timestamp Quarter
2025-01-01    442       169  2025-01      2025-01-01  2025Q1
2025-01-02    812       177  2025-01      2025-01-01  2025Q1
2025-01-03    519       146  2025-01      2025-01-01  2025Q1
2025-01-04    515       159  2025-01      2025-01-01  2025Q1
2025-01-05    545       121  2025-01      2025-01-01  2025Q1
...           ...       ...      ...             ...     ...
2025-03-06    683       138  2025-03      2025-03-01  2025Q1
2025-03-07    394       127  2025-03      2025-03-01  2025Q1
2025-03-08    737       183  2025-03      2025-03-01  2025Q1
2025-03-09    405       135  2025-03      2025-03-01  2025Q1
2025-03-10    329        96  2025-03      2025-03-01  2025Q1

[69 rows x 5 columns]

In [56]:
# Convert the Quarter period back to timestamps
df['Quarter_Timestamp'] = df['Quarter'].dt.to_timestamp()
print("\nDataFrame with Quarter converted back to timestamps:")
print(df)

DataFrame with Quarter converted back to timestamps:
            Sales  Expenses    Month Month_Timestamp Quarter Quarter_Timestamp
2025-01-01    442       169  2025-01      2025-01-01  2025Q1        2025-01-01
2025-01-02    812       177  2025-01      2025-01-01  2025Q1        2025-01-01
2025-01-03    519       146  2025-01      2025-01-01  2025Q1        2025-01-01
2025-01-04    515       159  2025-01      2025-01-01  2025Q1        2025-01-01
2025-01-05    545       121  2025-01      2025-01-01  2025Q1        2025-01-01
...           ...       ...      ...             ...     ...               ...
2025-03-06    683       138  2025-03      2025-03-01  2025Q1        2025-01-01
2025-03-07    394       127  2025-03      2025-03-01  2025Q1        2025-01-01
2025-03-08    737       183  2025-03      2025-03-01  2025Q1        2025-01-01
2025-03-09    405       135  2025-03      2025-03-01  2025Q1        2025-01-01
2025-03-10    329        96  2025-03      2025-03-01  2025Q1        2025-01-01

[69 rows x 6 columns]

In [57]:
import pandas as pd
import numpy as np
date_range = pd.date_range(start='2025-01-01',end='2025-03-10',freq='D')
d= {
    'Sales': np.random.randint(100,900,len(date_range)),
    'Expenses' : np.random.randint(90,200,len(date_range))
}
df = pd.DataFrame(d,date_range)
print(df)

            Sales  Expenses
2025-01-01    601       119
2025-01-02    462       134
2025-01-03    170       188
2025-01-04    510       121
2025-01-05    747       123
...           ...       ...
2025-03-06    295       132
2025-03-07    516       184
2025-03-08    702       159
2025-03-09    428       175
2025-03-10    249       158

[69 rows x 2 columns]

In [58]:
df['Year'] = df.index.year

In [59]:
df['Month'] = df.index.month
print(df)

            Sales  Expenses  Year  Month
2025-01-01    601       119  2025      1
2025-01-02    462       134  2025      1
2025-01-03    170       188  2025      1
2025-01-04    510       121  2025      1
2025-01-05    747       123  2025      1
...           ...       ...   ...    ...
2025-03-06    295       132  2025      3
2025-03-07    516       184  2025      3
2025-03-08    702       159  2025      3
2025-03-09    428       175  2025      3
2025-03-10    249       158  2025      3

[69 rows x 4 columns]