In [19]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 75000]
        }
df = pd.DataFrame(data)
print(df.head())

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000

In [20]:
print(df)
# Define a function to calculate a salary increase
def increase_salary(df, increase_percentage):
    df['Salary'] = df['Salary'] * (1 - increase_percentage / 100)
    return df
# Define a function to filter employees by age
def filter_by_age(df, min_age):
    return df[df['Age'] >= min_age]
# Use of df.pipe()  
result = (
	        df.pipe(increase_salary, increase_percentage=10) # Increase salary by 10%
            .pipe(filter_by_age, min_age=18)  	# Filter employees aged 30 and above

	)
print("Resulting DataFrame after salary increase and filtering:")
print(result)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
Resulting DataFrame after salary increase and filtering:
      Name  Age   Salary
0    Alice   25  45000.0
1      Bob   30  54000.0
2  Charlie   35  67500.0

In [21]:
import pandas as pd
data = {
	'Name': ['Alice', 'Bob', 'Charlie'],  
        'Age': [25, 30, 35],
	'Salary': [50000, 60000, 75000]    
        }
df = pd.DataFrame(data)
print(df)

df['Bonus'] = [5000, 7000, 8000]  # Adding a Bonus column
# Using eval to calculate Total Compensation
# Use df.eval() to create a new column for total compensation
df['Total_Compensation'] = df.eval('Salary + Bonus')
print("DataFrame with Total Compensation:")
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
DataFrame with Total Compensation:
      Name  Age  Salary  Bonus  Total_Compensation
0    Alice   25   50000   5000               55000
1      Bob   30   60000   7000               67000
2  Charlie   35   75000   8000               83000

In [22]:
import pandas as pd
data = {
    	'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 75000]
        }
df = pd.DataFrame(data)
print(df)
# Use df.where() to filter the DataFrame based on a condition
filtered_df = df.where(df['Salary'] > 55000, other=0, axis=0)
print("\nFiltered DataFrame (where Salary > 55000):")
print(filtered_df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000

Filtered DataFrame (where Salary > 55000):
      Name  Age  Salary
0        0    0       0
1      Bob   30   60000
2  Charlie   35   75000

In [23]:
data = {
        'Name': ['Alice', 'Bob', 'Charlie'], 
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 75000], 
        'Bonus': [2000, 3000, 4000]  
        }
df = pd.DataFrame(data)
print(df)
# Use df.clip() to limit the Salary to a range
clipped_df = df.copy() 
clipped_df['Salary'] = clipped_df['Salary'].clip(lower=55000, upper=65000)
print("\nDataFrame after clipping Salary between 55000 and 65000:")
print(clipped_df)

      Name  Age  Salary  Bonus
0    Alice   25   50000   2000
1      Bob   30   60000   3000
2  Charlie   35   75000   4000

DataFrame after clipping Salary between 55000 and 65000:
      Name  Age  Salary  Bonus
0    Alice   25   55000   2000
1      Bob   30   60000   3000
2  Charlie   35   65000   4000

In [24]:
# Clip both Salary and Bonus columns
clipped_multi_df = df.copy()
print(df)
clipped_multi_df[['Salary', 'Bonus']] = clipped_multi_df[['Salary', 'Bonus']].clip(lower=55000, upper=65000)
print("\nDataFrame after clipping Salary and Bonus between 55000 and 65000:")
print(clipped_multi_df)

      Name  Age  Salary  Bonus
0    Alice   25   50000   2000
1      Bob   30   60000   3000
2  Charlie   35   75000   4000

DataFrame after clipping Salary and Bonus between 55000 and 65000:
      Name  Age  Salary  Bonus
0    Alice   25   55000  55000
1      Bob   30   60000  55000
2  Charlie   35   65000  55000

In [25]:
# Clip both Salary and Bonus columns
clipped_multi_df = df.copy()
print(df)
clipped_multi_df[['Salary', 'Bonus']] = clipped_multi_df[['Salary', 'Bonus']].clip(lower=[55000,2000], upper=[65000,3000])
print("\nDataFrame after clipping Salary and Bonus between 55000 and 65000:")
print(clipped_multi_df)

      Name  Age  Salary  Bonus
0    Alice   25   50000   2000
1      Bob   30   60000   3000
2  Charlie   35   75000   4000

DataFrame after clipping Salary and Bonus between 55000 and 65000:
      Name  Age  Salary  Bonus
0    Alice   25   55000   2000
1      Bob   30   60000   3000
2  Charlie   35   65000   3000

In [26]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'Age': [25, 30, 35, 25, 36],
    'Salary': [50000, 60000, 75000, 50000,np.nan]  
}
df = pd.DataFrame(data)
print(df)

      Name  Age   Salary
0    Alice   25  50000.0
1      Bob   30  60000.0
2  Charlie   35  75000.0
3    Alice   25  50000.0
4      Bob   36      NaN

In [27]:
print(df.nunique())

Name      3
Age       4
Salary    3
dtype: int64

In [29]:
print(df.nunique(dropna=False))

Name      3
Age       4
Salary    4
dtype: int64

In [ ]:
unique_counts = df.nunique()
print("\nNumber of unique values in each column:")
print(unique_counts)

Number of unique values in each column:
Name      3
Age       4
Salary    3
dtype: int64