installing library

In [75]:
import pandas as pd
import numpy as np

Loading of database

In [76]:
vgs = pd.read_csv("../../dataset/vgsales.csv",index_col='Rank')
print(vgs.head())

                          Name Platform    Year         Genre Publisher  \
Rank
1                   Wii Sports      Wii  2006.0        Sports  Nintendo
2            Super Mario Bros.      NES  1985.0      Platform  Nintendo
3               Mario Kart Wii      Wii  2008.0        Racing  Nintendo
4            Wii Sports Resort      Wii  2009.0        Sports  Nintendo
5     Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

      NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Rank
1        41.49     29.02      3.77         8.46         82.74
2        29.08      3.58      6.81         0.77         40.24
3        15.85     12.88      3.79         3.31         35.82
4        15.75     11.01      3.28         2.96         33.00
5        11.27      8.89     10.22         1.00         31.37

In [77]:
print(vgs.tail())

                                                   Name Platform    Year  \
Rank
16596                Woody Woodpecker in Crazy Castle 5      GBA  2002.0
16597                     Men in Black II: Alien Escape       GC  2003.0
16598  SCORE International Baja 1000: The Official Game      PS2  2008.0
16599                                        Know How 2       DS  2010.0
16600                                  Spirits & Spells      GBA  2003.0

          Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
Rank
16596  Platform       Kemco      0.01      0.00       0.0          0.0
16597   Shooter  Infogrames      0.01      0.00       0.0          0.0
16598    Racing  Activision      0.00      0.00       0.0          0.0
16599    Puzzle    7G//AMES      0.00      0.01       0.0          0.0
16600  Platform     Wanadoo      0.01      0.00       0.0          0.0

       Global_Sales
Rank
16596          0.01
16597          0.01
16598          0.01
16599          0.01
16600          0.01

In [78]:
print(vgs.sample(10))

                                                Name Platform    Year  \
Rank
6609          Super Street Fighter II: Turbo Revival      GBA  2001.0
11817                    SpongeBob's Truth or Square     X360  2009.0
5355   LEGO Pirates of the Caribbean: The Video Game      PSP  2011.0
2426                2010 FIFA World Cup South Africa     X360  2010.0
393                                 FIFA Soccer 2003      PS2  2002.0
7195                         Rapala's Fishing Frenzy      Wii  2008.0
7302                                 Over G Fighters     X360  2006.0
8696                               Bust-A-Move Bash!      Wii  2007.0
11445                            Samurai Shodown Sen     X360  2009.0
2157   LEGO Pirates of the Caribbean: The Video Game       DS  2011.0

            Genre                   Publisher  NA_Sales  EU_Sales  JP_Sales  \
Rank
6609     Fighting                     Ubisoft      0.18      0.07      0.00
11817      Action                         THQ      0.03      0.04      0.00
5355       Action  Disney Interactive Studios      0.11      0.15      0.00
2426       Sports             Electronic Arts      0.32      0.43      0.02
393        Sports             Electronic Arts      0.46      2.28      0.05
7195       Sports                  Activision      0.20      0.00      0.00
7302   Simulation                     Ubisoft      0.19      0.01      0.00
8696       Puzzle                   505 Games      0.13      0.01      0.00
11445    Fighting           Rising Star Games      0.07      0.01      0.00
2157       Action  Disney Interactive Studios      0.37      0.49      0.00

       Other_Sales  Global_Sales
Rank
6609          0.00          0.25
11817         0.00          0.07
5355          0.08          0.34
2426          0.09          0.86
393           0.61          3.40
7195          0.02          0.22
7302          0.02          0.22
8696          0.01          0.16
11445         0.01          0.08
2157          0.10          0.96

In [79]:
vgs.sort_index(na_position='first',inplace=True)
vgs.head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [80]:
vgs.columns

Index(['Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [91]:
print(vgs.nunique(dropna=True))

Name            11493
Platform           31
Year               39
Genre              12
Publisher         578
NA_Sales          409
EU_Sales          305
JP_Sales          244
Other_Sales       157
Global_Sales      623
dtype: int64

In [81]:
vgs.size

165980

In [82]:
vgs.shape

(16598, 10)

In [83]:
vgs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16598 entries, 1 to 16600
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16598 non-null  object
 1   Platform      16598 non-null  object
 2   Year          16327 non-null  float64
 3   Genre         16598 non-null  object
 4   Publisher     16540 non-null  object
 5   NA_Sales      16598 non-null  float64
 6   EU_Sales      16598 non-null  float64
 7   JP_Sales      16598 non-null  float64
 8   Other_Sales   16598 non-null  float64
 9   Global_Sales  16598 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.4+ MB

In [84]:
print(vgs.describe())

               Year      NA_Sales      EU_Sales      JP_Sales   Other_Sales  \
count  16327.000000  16598.000000  16598.000000  16598.000000  16598.000000
mean    2006.406443      0.264667      0.146652      0.077782      0.048063
std        5.828981      0.816683      0.505351      0.309291      0.188588
min     1980.000000      0.000000      0.000000      0.000000      0.000000
25%     2003.000000      0.000000      0.000000      0.000000      0.000000
50%     2007.000000      0.080000      0.020000      0.000000      0.010000
75%     2010.000000      0.240000      0.110000      0.040000      0.040000
max     2020.000000     41.490000     29.020000     10.220000     10.570000

       Global_Sales
count  16598.000000
mean       0.537441
std        1.555028
min        0.010000
25%        0.060000
50%        0.170000
75%        0.470000
max       82.740000

In [85]:
vgs.nunique(dropna=True)

Name            11493
Platform           31
Year               39
Genre              12
Publisher         578
NA_Sales          409
EU_Sales          305
JP_Sales          244
Other_Sales       157
Global_Sales      623
dtype: int64

In [86]:
vgs['Year'] = vgs['Year'].convert_dtypes(int)

In [87]:
print(vgs.info())

<class 'pandas.core.frame.DataFrame'>
Index: 16598 entries, 1 to 16600
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16598 non-null  object
 1   Platform      16598 non-null  object
 2   Year          16327 non-null  Int64
 3   Genre         16598 non-null  object
 4   Publisher     16540 non-null  object
 5   NA_Sales      16598 non-null  float64
 6   EU_Sales      16598 non-null  float64
 7   JP_Sales      16598 non-null  float64
 8   Other_Sales   16598 non-null  float64
 9   Global_Sales  16598 non-null  float64
dtypes: Int64(1), float64(5), object(4)
memory usage: 1.4+ MB
None

In [88]:
vgs.drop_duplicates(inplace=True)
print(vgs)

                                                   Name Platform  Year  \
Rank
1                                            Wii Sports      Wii  2006
2                                     Super Mario Bros.      NES  1985
3                                        Mario Kart Wii      Wii  2008
4                                     Wii Sports Resort      Wii  2009
5                              Pokemon Red/Pokemon Blue       GB  1996
...                                                 ...      ...   ...
16596                Woody Woodpecker in Crazy Castle 5      GBA  2002
16597                     Men in Black II: Alien Escape       GC  2003
16598  SCORE International Baja 1000: The Official Game      PS2  2008
16599                                        Know How 2       DS  2010
16600                                  Spirits & Spells      GBA  2003

              Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
Rank
1            Sports    Nintendo     41.49     29.02      3.77         8.46
2          Platform    Nintendo     29.08      3.58      6.81         0.77
3            Racing    Nintendo     15.85     12.88      3.79         3.31
4            Sports    Nintendo     15.75     11.01      3.28         2.96
5      Role-Playing    Nintendo     11.27      8.89     10.22         1.00
...             ...         ...       ...       ...       ...          ...
16596      Platform       Kemco      0.01      0.00      0.00         0.00
16597       Shooter  Infogrames      0.01      0.00      0.00         0.00
16598        Racing  Activision      0.00      0.00      0.00         0.00
16599        Puzzle    7G//AMES      0.00      0.01      0.00         0.00
16600      Platform     Wanadoo      0.01      0.00      0.00         0.00

       Global_Sales
Rank
1             82.74
2             40.24
3             35.82
4             33.00
5             31.37
...             ...
16596          0.01
16597          0.01
16598          0.01
16599          0.01
16600          0.01

[16597 rows x 10 columns]

In [89]:
vgs.shape

(16597, 10)

In [90]:
mask = vgs.notna()
vgs[mask]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01